@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
  background-color: black;
  font-family: 'Lato', sans-serif;

}

/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.navbar .nav-link {
  padding: .25rem 0;
  font-size: 13pt;
  font-weight: 700;
  font-family: 'Lato', Arial, sans-serif;
  color: white;
  background-color: transparent;
  border-bottom: .15rem solid transparent;
}

.navbar .nav-link:hover, .navbar .nav-link:focus {
  border-bottom-color: white;
}

.navbar .nav-link+.nav-link {
  margin-left: 1rem;
}

.navbar .active {
  color: #fff;
  border-bottom-color: #fff;
}


/**
* content
*/

#content {
    margin-top: 100px;
}
h1 {
color: #fff;
    font-size: 100px;
}

#title{
    margin-top: 20px;
    color: rgb(231, 222, 31);
    margin-bottom: 10px;
}
#title:hover{
    cursor: pointer;
    text-decoration: underline;
}

#album-selected {
    margin-right: 20px;
    text-decoration: underline;
}

#album-unselected {
    margin-right: 20px;
}

#single-selected {
    margin-left: 20px;
    text-decoration: underline;
}

#single-unselected {
    margin-left: 20px;
}

#album-items {
    display: unset;
}

#single-items {
    display: none;
}

#show_more_album_button {
    background-color:black;
    color:white;
    border-color: white;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    margin-top: 40px;
}

#show_more_single_button {
    background-color:black;
    color:white;
    border-color: white;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    margin-top: 40px;
}


#single-items .img-thumbnail{
    border: 0 none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    margin-top: 20px;
}

#album-items .img-thumbnail{
    border: 0 none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}

iframe {
    margin-top: 20px;
}


